

<option value="">Select Course</option>
@if (ViewBag.CourseId != null)
{


    foreach (var item in ViewBag.CourseId)
    {
        
        
        
        <option value="@item.Value">@item.Text</option>
    }
    
}