
@{
   
    Layout = "~/Views/Shared/_Layout2.cshtml";
}






    
    
    <div class="container" style="margin-left: 140px">
        <h2 style="text-align: center">WELCOME ADMIN</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">Department of Computer Science & Engineering , Jagannath University</div>
           
        </div>
    </div>
