
@{
    ViewBag.Title = "Successful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="Refresh" content="1;URL=@(Url.Action("Index", "Home"))">

<div align="center">
<img src="~/Content/Images/success.jpg" height="400" width="700" />
</div>